body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding-bottom: 200vh;
  position: relative;
  color: #363A3D;
  max-width: 1980px;
  overflow: hidden;
  background-image: url('../img/bg.jpg');
}
#logoBox {
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 1;
}
#logo {
  width: 50%;
}
#controller {
  width: 100%;
  background-image: linear-gradient(to right, #a8edea 0%, #fed6e3 100%);
  position: fixed;
  right: 0;
  top: 0vh;
  padding: 20px;
  text-align: center;
  z-index: 2;
}
#tip {
  width: 20vw;
  display: none;
  text-align: center;
  padding: 30px 20px;
  background-image: linear-gradient(to right, #a8edea 0%, #fed6e3 100%);
  border-radius: 5px;
  position: fixed;
  z-index: 3;
  top: 20vh;
  transform: translateX(50px);
}
#tip div {
  margin: 20px auto;
}
.btn {
  width: 8vw;
  text-align: center;
  padding: 15px;
  border: #363A3D 3px solid;
  border-radius: 50px;
  cursor: pointer;
}
.btn:hover {
  background-color: #363A3D;
  color: white;
}
#btn1 {
  margin: 0 auto;
  width: 10vw;
}
#btn2 {
  float: right;
  display: none;
}
#btn2:before {
  content: '🇨🇳 / 🇬🇧 ';
}
#paperCanvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0vh;
  z-index: 1;
}
#bgImg {
  position: fixed;
  width: 100%;
  height: 100vh;
}
